@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Karla-Regular.ttf');
}

p {
	font-size: 0;
}

body {
  font-family: 'Karla', sans-serif !important;
}

td {
	font-size: 12px;
}

#correct{
	background-color: #CFFF5B;
	font-family: "Courier New", Courier;
	font-size: 20px;
}

#wrong{
	background-color: #D36582;
	font-family: "Courier New", Courier;
	font-size: 20px;
}

#remaining {
	font-family: "Courier New", Courier;
	font-size: 20px;
}
thead {
	font-weight: bold;
}

